





body {
  background-color: #F7F7F7;
  color: #333;
 
    
}

.chart{
  width: 1200px;
  max-width: 100%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  background: rgba(255, 255, 255, 0.322);
  opacity: 0.8;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo{
   
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #myVideo {
   
   width:100%; 
    height: 100%;
   padding:0
  }
}
video{
  object-fit:fill

}



h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
  margin: -2px;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

.h3-small{
  font-size: 20px;
}

.main-blue{
  color: #0347AB;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #0347AB;
}
a:hover {
  color: #e2eeff;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
}

li:hover {
  color: #ffffff
}

p {
  color: #505050;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  /*
  margin-bottom: 20px;
  font-size: 14px; */
}

span {
  font-family: "Noto Sans KR";
font-style: normal;
/*
font-weight: bold;
font-size: 14px; */
line-height: 0px;
text-align: right;
letter-spacing: 0.1em;
/* color: #222222 */
}

.span-2{
  color: #0347AB;
}

@media screen and (max-width: 780px) {
  h1 .span-2:last-of-type {
      display: block;
      line-height: 30px; 
      color: #0347AB;
      font-size: 25.5px;
  }
}




.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 12px solid #fff;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 20px 68px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  text-decoration: none;
  font-size: 13px;
}
.v856_1413 {
  width: 360px;
  height: 471px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1413px;
  left: 132px;
  overflow: hidden;

}
.v856_1414 {
  width: 360px;
  height: 439px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #003076;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #003076;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
#header {
  background: transparent;
  z-index: 997;
  transition: all 0.5s ease;
  padding: 20px 0;
}

#header #logo h1 {
  color: #0347AB ;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 12px;
}
#header #logo h1 a {
  font-family: "Nunito";
  color: #0347AB ;
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.2em;
}
#header #logo h1 a span {
  color: #0347AB;
}
#header #logo img {
  padding: 0px;
    margin-top: -6px;
}
#header.header-scrolled {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

/*--------------------------------------------------------------
# nav menu
--------------------------------------------------------------*/
/**
* desktopnav
*/

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100%;
  }
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}
}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
}
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 100%;
}}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 100%;
}
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #222;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #236cd8;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 5px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #236cd8;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile nav 
*/
.mobile-nav-toggle {
  color: #222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(10 65 82 / 70%);
backdrop-filter: blur(6px);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  padding: 5px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  padding-bottom: 3px;
  font-size: 15px;
  color: #222;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #236cd8;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #236cd8;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#hero-2 {
  width: 100%;
  height: calc(100vh - 40px);
  background-color:#F7F7F7;; 
  background-size: cover;
  position: relative;
 
}

#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: rgba(255, 255, 255, 0.33);
  
  
  background-size: cover;
  position: relative;
 
}
@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
  
}
@media (min-width: 1025px) and (max-height: 768px) {
  #hero {
    height: 110vh;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 200vh;
  }
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 95px 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 56px;
  font-family: "Nunito";
  color: #0347AB;
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 27px;
    padding-top: 80px;
    line-height: 36px;
    

  }
  
  .btns{
    text-align: center;
    margin-top: -65px;
    max-width: 50%;
    
  }
}
  
@media (max-width: 270px) {
  #hero h1 {
    font-size: 20px;
    padding-top: 70px;
    line-height: 30px;
    

  }
  .btns{
    padding-inline: 50px;
    text-align: center;
    margin-bottom: 10px;
  }
}


#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


#hero img {
  max-width: 90.5%;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);

}


 /* tablet, landscape ipad, lo--res laptops ands desktops */
@media (min-width:961px) { 
  #hero img {
    max-width: 90.5%;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #hero img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    } 
   }

   /* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
   
  #hero img {
    max-width: 90.5%;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #hero img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    } 
   }

   /* hi-res laptops and desktops */
@media (min-width:1281px) {
  #hero img {
    max-width: 90.5%;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #hero img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    } 
   
   }


#hero .btn-get-started {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #236cd8;
  background: #fff;
  color: #236cd8;
  text-decoration: none;
}
#hero .btn-get-started:hover {
  background: #236cd8;
  color: #fff;
}
#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}
@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }

  
}
#hero .btns a:hover {
  color: #236cd8;
}




/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.padd-section {
  padding-bottom: 105px;
  padding-top: 60px;
  background-color: white;
}
@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 5px;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 25px;
}

.separator {
  color: #626262;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #F7F7F7;
  min-height: 40px;
  margin-top: 82px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs ol li {
  letter-spacing: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-flex;
  background-color: #F7F7F7;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  /* height: calc(110vh - 40px); */
}

#get-started-2 {
  display: inline-flex;
  background-color: #F7F7F7;
  width: 100%;
  height: calc(100vh - 40px);
  
  flex-direction: column;
  justify-content: center;
  /* height: calc(110vh - 40px); */
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}
#get-started .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}
@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}
#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}
#get-started .feature-block h4 {
  margin-bottom: 20px;
}
#get-started .feature-block p {
  margin-bottom: 20px;
}
#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
#get-started .feature-block a:hover {
  color: #71c55d;
}

/* About Us Section
--------------------------------*/
#about-us img {
  max-width: 100%;
}
#about-us .about-content {
  padding-top: 60px;
}
#about-us .about-content h2 {
  color: #252525;
  font-family: "Nunito";
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
#about-us .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}
#about-us .about-content ul li {
  line-height: 36px;
}
#about-us .about-content ul li .fa {
  padding-right: 20px;
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}
#features .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}
#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}
#features .feature-block h4 {
  margin-bottom: 20px;
}
#features .feature-block p {
  margin-bottom: 0;
}

/* Screenshots Section
--------------------------------*/
#screenshots .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
#screenshots .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #236cd8;
}
#screenshots .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #236cd8;
}

/* Video Section
--------------------------------*/
#video {
  background: url(../img/video-bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}
#video .overlay {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
}
#video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#71c55d 50%, rgba(113, 197, 93, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 153px auto 0;
  position: relative;
  overflow: hidden;
}
#video .overlay .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#video .overlay .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
#video .overlay .play-btn:hover::after {
  border-left: 15px solid #71c55d;
  transform: scale(20);
}
#video .overlay .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes pulsate1 {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate2 {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/* Team Section
--------------------------------*/
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}
#team .team-block img {
  width: 100%;
}
#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}
#team .team-block .team-content ul {
  display: block;
  width: 100%;
}
#team .team-block .team-content ul li {
  display: inline-block;
}
#team .team-block .team-content ul li a {
  color: #626262;
}
#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}
#team .team-block .team-content ul li a .fa:hover {
  color: #71c55d;
}
#team .team-block .team-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}

/* Testimonials Section
--------------------------------*/
#testimonials .testimonials-content {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 49px 20px;
}

#testimonials .testimonials-content::before {
  color: #71c55d;
  content: "\f10e";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
}

#testimonials .top-top > h2 {
  font-family: "Nunito" ;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#testimonials .top-top > h4 {
  font: 700 12px Lato, sans-serif;
}

#testimonials .top-top span {
  font-size: 12px;
  font-weight: 300;
  margin-left: 26px;
}

#testimonials .btm-btm ul li {
  float: left;
  margin: 0 8px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background: #ddd none repeat scroll 0 0;
  cursor: pointer;
  height: 12px !important;
  width: 12px !important;
  border: 0;
  content: "";
}

#testimonials .btm-btm .active {
  background: #71c55d;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0 !important;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin: 30px auto 0 auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.carousel-indicators li {
  margin: 0;
}


#pricing .block-pricing {
 
  display: inline-block;
  position: relative;
  width: 100%;
  margin-inline: 150px;
  text-align: center;
}
@media (max-width: 991px) {
  #pricing .block-pricing {
    margin-bottom: 30px;
    margin-inline: 0px;
  }
}

#pricing .block-pricing .table {
  margin-bottom: 0;
  padding: 30px 15px;
  max-width: 100%;
  width: 100%;
}

#pricing .block-pricing .table h4 {
  padding-bottom: 30px;
}

#pricing .block-pricing h2 {
  margin-bottom: 30px;
}

#pricing .block-pricing ul {
  list-style: outside none none;
  margin: 10px auto;
  max-width: 240px;
  padding: 0;
}

#pricing .block-pricing ul li {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 12px 0;
  text-align: center;
}

#pricing .block-pricing ul li b {
  color: #3c4857;
}

#pricing .block-pricing .table .table_btn a {
  background: #034cb9;
  color: #fff;
  margin: 0;
  display: inline-block;
}
#pricing .block-pricing .table .table_btn a:hover {
  background: #55b03f;
}

#pricing .block-pricing .table .table_btn a .fa {
  font-size: 13px;
  margin-right: 5px;
}



@media (max-width: 991px) {
  #blog .block-blog {
    margin-bottom: 30px;
  }
}

.block-blog{
  padding: 0;
}

#blog .block-blog img {
  width: 95%;
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}
#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}
#blog .block-blog .content-blog h4 a:hover {
  color: #71c55d;
}

#blog .block-blog .content-blog > span {
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}
#blog .block-blog .content-blog a.readmore:hover {
  color: #71c55d;
}


#newsletter {
  background: rgba(0, 0, 0, 0) url(../img/newsletter-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}
#newsletter .overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
  height: 100%;
  width: 100%;
}
#newsletter .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 0;
  color: #888;
  font-size: 11px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
}
@media (max-width: 575px) {
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
}
#newsletter .form-control:focus {
  border-color: #71c55d;
  box-shadow: none;
  outline: 0 none;
}
#newsletter .btn {
  background: #71c55d;
  border: 0;
  border-radius: 0;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}
@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}
#newsletter .btn:hover {
  background: #55b03f;
}
#newsletter .btn .fa {
  padding-right: 10px;
}
#newsletter ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
}
#newsletter ul li {
  background: #71c55d;
  border-radius: 50px;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsletter ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#newsletter ul li:hover {
  background: #55b03f;
}
#newsletter ul li i {
  color: #fff;
  line-height: 0;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #fff;
}
#contact .info {
  color: #222;
}
#contact .info i {
  font-size: 32px;
  color: #034cb9;
  float: left;
  line-height: 0;
}
#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}
#contact .info .email p {
  padding-top: 5px;
}
#contact .social-links {
  padding: 20px 0;
}
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #71c55d;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#contact .social-links a:hover {
  background: #007cb6;
  color: #fff;
}
#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #0347AB;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #0347AB;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
  border-color: #000000;
}
#contact .php-email-form input {
  padding: 10px 15px;
}
#contact .php-email-form textarea {
  padding: 12px 15px;
}
#contact .php-email-form button[type=submit] {
  background: #71c55d;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
#contact .php-email-form button[type=submit]:hover {
  background: #92d283;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------------------
# footer
--------------------------------------------*/
@media (min-width: 992px){
.col-lg-14 {
    flex: 0 0 auto;
    width: 87.333333%;
  }
}

@media(min-width: 992px){
  .col-lg-2{
  flex: 0 0 auto;
   width: 22.666667%;
    }
  }

  @media(min-width: 992px){
    .col-lg-15{
     width: 17%;
     text-align: center;
      }
    }

@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 auto;
    width: 26%;
}
}

.footer {
  background: rgba(7, 63, 145, 0.8);
  backdrop-filter: blur(7px);
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}
.footer .footer-logo p {
  color: #fff;
  padding-inline: 1em;
  /* writing-mode: initial; */
  font-size: 12px;
  float: left;
  font-weight: 700;
  /* text-orientation: mixed; */
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out 0s;
}

.footer .footer-logo p:hover{
  color:#6fafff;
transition: 0.5s;

}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}
.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 0px;
  text-decoration: none;
  letter-spacing: 0;
  transition: all 0.5s ease-in-out 0s;
}

.list-menu ul li a:hover{
  color:#6fafff;
  transition: 0.5s;
}


.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}
.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}
.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 45%;
    margin-left: -155px;
}
  }


/* ===== property container div ========================================= */

.main-cont {
 /*  width: 360px; */
  height: 483px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}


/* @media (min-width: 1400px) {
  .main-cont {
    left: 28px;
  }
}
*/

@media (max-width: 1199px) {
  .main-cont {
    right: 25px;
  }
}
@media (max-width: 768px) {
.main-cont {
    right: 15px;
  }
}
@media (max-width: 767px) {
  .main-cont {
      left: 0px;
    }
  }

  
@media (min-width: 280px) {
  .main-cont  {
      max-width: 100%;
    }
    .cont-btn-2{
      max-width: 100%;
    }
  }

  @media (min-width: 375px) {
    .main-cont  {
        right: 4px;
      }
      .cont-btn-2{
        max-width: 100%;
      }
    }

.blue{
  color: #11389b;
  
}

.light-blue{
  color: #1CA3CD;

}

.black{
  color: black;
}

.p-spacing{
  line-height: 1px;
}

.p-space-lg{
  margin-top: 28px;
}

.p-space-lg-2{
  margin-top: 70px;
}



.cont-inside {
  width: 100%;
  height: 93%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.cont-img img{
  width: 344px;
    height: 212px;
   /* background: url(../img/home1.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    z-index: 1;
}

.cont-title {

  color: rgba(24,59,112,1);
  
  top: 4px;
  left: 140px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.cont-btn:hover {
  background-color: #2c75e2;
  transition: 0.5s;
}
.cont-btn {
  width: 97%;
  height: 47px;
  background-color: #0F328B;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 6px;
  color: white;
  font-family: Arial;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s ease-in-out 0s;
}

.cont-btn-2:hover {
  background-color: #007cb6;
  transition: 0.5s;
}
.cont-btn-2 {
  display: inline-block;
  background-color: #12A3D1;
  font-size: 19px;
  font-weight: 500;
  color: white;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease-in-out 0s;
  width: 345px;
  height: 67px;
  }



.cont-txt{
   /* width: 23px; */
    color: rgb(0, 0, 0);
    position: absolute;
    top: 235px;
    left: 12px;
    line-height: 19.5px;
    font-family: Noto Sans KR;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    float: left;
}


.cont-txt-2{
   color: rgb(0, 0, 0);
   position: absolute;
   top: 235px;
   right: 12px;
   font-family: Noto Sans KR;
   font-weight: Regular;
   font-size: 12px;
   opacity: 1;
   text-align: left;
   float: right;
}


/* auto slideshow*/


.container-1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}





/* my version ^^^^^^^^^^^^^^^^ */
/* ================================================================= */

